<a href="#" class="js-add-to-comparator Comparator-button-add ui orange button" data-product-code="{{ product.code }}">
    <i class="Icon-copy"></i>
    {{ 'asdoria_sylius_comparator_bundle.ui.compare'|trans }}
</a>
