/*
 * [ settings / icon ]
 */

// -----------------------------------------------------------------------------

$icons: (
        arrow-right: 'e900',
        angle-right: 'e901',
        angle-left: 'e902',

        star: 'e903',
        close: 'e904',
        copy: 'e905',
        compare: 'e906',
);

@function str-unicode($str) {
    @return unquote("\"") + unquote(str-insert($str, "\\", 1)) + unquote("\"")
}

@function unicode($icon) {
    @return str-unicode(quote(map-get($icons, $icon)));
}
